@import './variables';
@import './normalize';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-weight: 300;
}

body {
  font: normal normal normal 1rem;
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
  background-color: $c-white;
  color: $c-black;
  font-family: "Segoe UI", "Roboto", "sans-serif";
}

img, input[type="image"], table {
  aspect-ratio: attr(width)/attr(height);
}

a,
a:hover,
a:active,
a:visited{
  color: $c-black;
  text-decoration: none;
}

ul{
  list-style: none;
}

fieldset{
  border: none;
}

.page-container{
  margin: 0 auto;
  max-width: $wrapper;
}

button,
input:focus,
textarea:focus,
select:focus{
  outline: none;
  border: none;
}

.heading{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
  color: $c-dark-grey;
  padding-left: 8px;
}

@media screen and (max-width: $break-mid) {
  .page-container{
    margin: 0 10px;
  }
}