.alert__section{
  background-color: $c-creme;

  .alert__wrapper{
    padding: 16px;
    color: $c-dark-grey;
    align-items: center;
    flex-wrap: wrap;
    @include myFlex;

    .alert__heading{
      align-items: center;
      font-weight: 700;
      width: 100%;
      @include myFlex;

      .icon{
        flex-shrink: 0;
        height: 24px;
      }

      .text{
        margin-left: 16px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @include myFlex;

        &:hover{
          cursor: pointer;
        }
      }
    }

    .alert__more{
      margin: 8px 0 0 40px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      .link{
        display: block;
        margin-top: 16px;
        line-height: 19px;
        color: $c-blue-light;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .alert__wrapper.active{
    .alert__heading{
      .text{
        svg{
          transform: rotateX(180deg);
        }
      }
    }

    .alert__more{
      display: none;
    }
  }
}