.article-imageWrapper {
  height: 380px;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
}

.article {
  padding: 16px;
  max-width: 760px;

  &-path {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 8px;

    span {
      color: $c-congress-blue;

      &:hover {
        color: $c-yellow;
        cursor: pointer;
      }
    }
  }

  &-title {
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    color: $c-dark-grey;
    margin-bottom: 8px;
  }

  &-category {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $c-dark-grey;
    border: 1px solid $c-grey;
    border-radius: 2px;
    padding: 1px 4px;
  }

  &-introduction {
    &-paragraph {
      margin: 16px 0;
      font-size: 16px;
      line-height: 24px;
      color: $c-dark-grey;
      margin: 16px 0;
    }
  }

  .paragraph {
    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      margin: 16px 0 8px;
    }

    &-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    &-imageDescription {
      display: block;
      margin: 12px 0;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: $c-dark-grey;
    }

    &-text {
      color: $c-dark-grey;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &-link {
        color: $c-congress-blue;
        text-decoration: underline;

        &:hover {
          color: $c-yellow;
        }
      }
    }
  }
}
