.bulletin{

  &-top{
    padding: 50px 0;
    background-color: $c-blue-dark;
    color: $c-white;
    text-align: center;
  }

  &-bottom{
    background-color: $c-congress-blue;
    padding-top: 15px;
  }

  &__heading{
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
  }

  &__desc{
    color: $c-silver;
    font-size: 16px;
    line-height: 24px;
  }

  &__form{
    margin: 20px auto 0;
    width: 550px;
    @include myFlex;

    &-input{
      height: 48px;
      padding: 10px;
      width: 100%;
      border-radius: 3px;
      font-size: 20px;
      line-height: 28px;
      color: $c-silver;
      font-weight: 100;
      border: 0;

      &:focus{
        outline: black auto 1px;
      }
    }

    &-button{
      margin: 0 5px;
      height: 48px;
      padding: 0 15px;
      border-radius: 3px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      color: $c-white;
      background-color: $c-blue-light;
    }
  }

  &__checkbox{
    display: block;
    width: 550px;
    margin: 10px auto 0;
    text-align: left;

    &-text{
      font-weight: 400;
      font-size: 14px;
      margin-left: 5px;
    }
  }

  &__share{
    display: block;
    margin: 0 auto 15px;
    border: 1px solid $c-white;
    color: $c-white;
    background-color: transparent;
    border-radius: 3px;
    line-height: 28px;
    font-size: 13px;
    padding: 0 15px;
    font-weight: 400;

    &:hover{
      background-color: rgba(255,255,255,0.2);
      cursor: pointer;
    }
  }

  &__links{
    border-top: 1px solid $c-white;

    &-wrapper{
      flex-wrap: wrap;
      @include myFlex;
    }

    &-link{
      padding: 15px 10px;
      color: $c-white;
      text-decoration: underline;
      font-weight: 700;
      font-size: 13px;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .bulletin{
    &__form{
      width: 100%;
      padding: 0 8px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}