.discover{

  &__nav{
    justify-content: flex-end;
    @include myFlex;

    &-items{
      margin-right: 10px;
      @include myFlex;
      padding-bottom: 5px;
    }

    &-item{
      font-size: 13px;
      height: 20px;
      line-height: 20px;
      padding: 0 7px;
      color: $c-white;
      background-color: $c-dove-gray;
      transition: all, .2s;
      margin-left: 5px;

      &.active{
        background-color: $c-blue-light;
      }

      &:hover{
        cursor: pointer;
        background-color: $c-blue-light;
      }
    }

    &-more{
      color: $c-blue-light;
      line-height: 20px;

      &:hover{
        color: $c-yellow;
        cursor: pointer;
      }
    }
  }

  &__tiles{
    width: 100%;
    overflow: hidden;
    margin-bottom: 26px;
    @include myGrid(1, 5, 15px)
  }

  &__tile{
    padding: 7px 0;
    
    &-imgWrapper{
      position: relative;
      overflow: hidden;

      &:hover{
        .discover__tile-desc{
          height: 100%;
          white-space: normal;
          line-height: normal;
          text-align: center;
          align-items: center;
          cursor: pointer;
          @include myFlex;
        }
      }
    }

    &-img{
      position: relative;
      width: 100%;
    }

    &-desc{
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      padding: 0 15px;
      line-height: 30px;
      font-size: 13px;
      color: $c-white;
      background-color: rgba(0,0,0, .3);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }



    &-name{
      display: block;
      padding: 7px 0;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      color: $c-blue-light;

      &:hover{
        cursor: pointer;
        color: $c-yellow;
      }
    }
  }
}

@media screen and (max-width: $break-mid) {
  .discover{
    &__tiles{
      @include myGrid(1, 4, 15px)
    }
  }
}

@media screen and (max-width: $break-small) {
  .discover{
    &__tiles{
      @include myGrid(2, 2, 15px)
    }
  }
}