.examples{
  .carousel__wrapper{
    .tiles__wrapper{
      .tile{
        &-header{
          position: relative;
          color: $c-white;
          background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 45%, rgba(0, 0, 0, 0.8) 80%);
          overflow: hidden;
          color: $c-white;
          @include myFlex;

          .tile__img{
            width: 100%;
            z-index: -1;
            margin-bottom: 0;
          }
    
          .tile__title{
            position: absolute;
            left: 16px;
            bottom: 36px
          }
    
          .tile__desc{
            position: absolute;
            left: 16px;
            bottom: 16px;
            color: $c-white;
          }
        }

        &__links{
          &-link{
            white-space: normal;
          }
        }
      }
    }
  }
}