.footer{
  padding: 16px 0 26px;

  &__list-wrapper{
    @include myFlex;
  }

  &__list{
    width: 20%;
    padding-right: 10px;

    &-item{
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 14px;
      color: $c-blue-light;
      font-weight: 400;

      &:hover{
        cursor: pointer;
        color: $c-yellow;
      }
    }
  }

  &__extranetLink{
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 14px;
    a{
      color: $c-dove-gray;

      &:hover{
        cursor: pointer;
        color: $c-brown;
      }
    }
  }

  &__copyrights{
    padding: 10px 0;
    font-size: 10px;
    color: $c-dark-grey;
    margin-top: 10px;
    font-weight: 400;
  }

  &__text{
    text-align: center;
    font-size: 12px;
    color: $c-dove-gray;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  &__partners{
    padding-top: 12px;
    justify-content: center;
    @include myFlex;

    &-icon{
      margin: 0 20px;
    }
  }
}