header{
  background: $c-blue;

  .heading{
    max-width: $wrapper-header;
    padding: 11px 16px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
    @include myFlex;

    &__logo{
      padding: 8px 16px 0 0;
    }

    &__buttonsWrapper{
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      @include myFlex;

      .button{
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        font-weight: 500;
        height: 48px;
        @include myFlex;

        &:hover{
          cursor: pointer;
        }

        &:active{
          box-shadow: 0 0 0 3px $c-congress-blue, 
        }
      }
  
      .button-small{
        padding: 12px;
        background: none;
        color: $c-white;
        width: 48px;
        font-size: 15px;
  
        &:hover{
          background-color: $c-bluemine;
          border-radius: 2px;
        }
      }

      .button-big{
        padding: 16px;
        height: 38px;
        font-size: 14px;
        color: $c-blue-light;
        background-color: $c-white;
        border: 1px solid $c-blue-light;
        border-radius: 3px;

        &:hover{
          background-color: #f0f7fb;
        }

        &-reverse{
          padding: 8px 8px;
          color: $c-white;
          border-color: $c-white;
          background: none;

          &:hover{
            background-color: #1f4e8f;
          }
        }
      }
  
      .heading__icon{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}