.navigation__wrapper {
  background: $c-blue;
  padding-top: 5px;
  flex-shrink: 0;
  width: 100%;

  .navigation__list {
    transform: translateX(-19px);
    padding: 3px 3px 0;
    overflow-x: hidden;
    @include myFlex;

    &:hover {
      cursor: pointer;
    }

    .button__wrapper {
      color: white;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      padding: 16px 16px 14px;
      border-bottom: 2px solid transparent;
      @include myFlex;

      .nav__text {
        margin-left: 8px;
      }

      &.selected {
        border-bottom-color: $c-white;
      }

      &:hover {
        background-color: $c-bluemine;
      }

      &:active {
        box-shadow: 0 0 0 3px $c-congress-blue;
      }
    }
  }
}

@media screen and (max-width: $break-mid) {
  .navigation__wrapper {
    .navigation__list {
      flex-wrap: wrap;
      .button__wrapper {
        padding: 8px 8px 7px;
      }
    }
  }
}
