.ourFavorite__heading{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #333;
  padding-left: 8px;
  padding-top: 10px;
  margin-bottom: 16px;
}

.ourFavorite__buttons{
  border-bottom: 1px solid $c-blue-light;
  color: $c-dove-gray;
  padding-top: 12px;
  @include myFlex;

  .ourFavorite__button{
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;

    &.active{
      color: $c-white;
      background-color: $c-blue-light;

      &:hover{
        cursor: default;
        color: $c-white;
      }
    }

    &:hover{
      cursor: pointer;
      color: $c-blue-light;
    }
  }
}

.ourFavorite__linksBox{
  flex-wrap: wrap;
  margin-bottom: 32px;
  @include myFlex;

  .ourFavorite__text{
    display: inline-block;
    width: 25%;
    padding-right: 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;

    .ourFavorite__text-name{
      display: block;
      color: $c-blue-light;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 20px;

      &:hover{
        color: $c-yellow;
        cursor: pointer;
      }
    }

    .ourFavorite__text-number{
      color: $c-silver-chalice;
      line-height: 16px;
    }
  }
}