.promotion__wrapper{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 16px 16px; 
  grid-template-areas: 
    "element-1 element-1 element-1 element-2 element-2 element-2"
    "element-3 element-3 element-4 element-4 element-5 element-5"; 
  width: 100%; 
  height: auto;
  margin-bottom: 38px;

  .promotionTile{
    height: 270px;
    position: relative;
    color: $c-white;
    text-shadow: 1px 1px 3px $c-black;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 65%, rgba(0,0,0,.5) 100%);
    border-radius: 3px;

    &__title{
      font-size: 28px;
      padding: 21px 16px 0;

      &-flag{
        width: 24px;
        height: 16px;
        margin-left: 10px;
      }
    }

    &__desc{
      font-size: 16px;
      font-weight: 400;
      padding: 5px 16px;
    }

    &__img{
      position: absolute;
      top: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover{
      background-image: linear-gradient(0deg, rgba(255,255,255,0) 70%, rgba(0,0,0,.65) 100%);
      cursor: pointer;
      box-shadow: 0px 0px 0px 1px $c-yellow;
    }
  }

  .element-1 { 
    grid-area: element-1; 
  }

  .element-2 { 
    grid-area: element-2; 
  }

  .element-3 { 
    grid-area: element-3; 
  }

  .element-4 { 
    grid-area: element-4; 
  }

  .element-5 { 
    grid-area: element-5; 
  }

  &-reverse{
    grid-template-areas: 
    "element-1 element-1 element-2 element-2 element-3 element-3"
    "element-4 element-4 element-4 element-5 element-5 element-5";

    .promotionTile{
      text-shadow: none;
      background-image: linear-gradient( rgba(255,255,255,0) 45%, rgba(0,0,0,.8) 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      height: 320px;
  
      &__title{
        font-size: 20px;
        padding: 21px 10px 0;
  
        &-flag{
          width: 24px;
          height: 16px;
          margin-left: 10px;
        }
      }
  
      &__desc{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        padding: 5px 10px 20px;
      }
  
      &__img{
        transition: .5s;
      }
  
      &:hover{
        background-image: linear-gradient( rgba(255,255,255,0) 45%, rgba(0,0,0,.8) 100%);
        cursor: pointer;
        box-shadow: none;

        .promotionTile__img{
          transform: scale(1.1);
          transition: .5s;
        }
      }
    }
  }
}

@media screen and (max-width: $break-mid) {
  .promotion__wrapper{
    margin-left: 0;
    padding: 0 5px;
  }
}

@media screen and (max-width: $break-mobile) {
  .promotion__wrapper{
    display: grid; 
    grid-template-columns: 1fr ; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 16px 16px; 
    grid-template-areas: 
      "element-1" 
      "element-2"
      "element-3" 
      "element-4" 
      "element-5"; 
  
    &-reverse{
      grid-template-areas: 
      "element-1" 
      "element-2"
      "element-3" 
      "element-4" 
      "element-5";
    }
  }
}