.propositions{
  .carousel__wrapper{
    .carousel__title{
      margin-top: 32px;
      font-size: 24px;
    }

    .tile{
      &__img{
        height: 240px;
      }

      &__title{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      &__cost{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 8px;
        color: $c-dark-grey;
      }

      &__rating{
        margin-top: 4px;
        align-items: center;
        @include myFlex;

        &-box{
          width: 28px;
          height: 28px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          border-radius: 5px 5px 5px 0;
          background-color: $c-blue;
          color: $c-white;
          justify-content: center;
          align-items: center;
          @include myFlex;
        }

        &-desc{
          font-size: 14px;
          font-weight: 500;
          color: $c-dark-grey;
          margin-left: 8px;
          line-height: 1;
        }

        &-opinions{
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          margin-top: 2px;
          line-height: 1;
          color: $c-dark-grey;

          &::before{
            content: "\00b7";
            margin: 0 4px;
            line-height: 0;
            position: relative;
          }
        }
      }
    }
  }

  &__more{
    flex-direction: column;
    justify-content: space-between;
    @include myFlex;

    &-background{
      position: absolute;
      z-index: -1;
    }

    &-text{
      color: $c-white;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin: 0;
      padding: 16px;
      text-shadow: 0 1px 1px rgb(0 0 0 / 10%);
      white-space: normal;
    }

    &-button{
      font-size: 14px;
      margin: 16px;
      padding: 8px;
      text-align: center;
      background-color: $c-white;
      color: $c-blue-light;
      border: 1px solid $c-blue-light;
      font-weight: 500;

      &:hover{
        background-color: $c-polar;
        cursor: pointer;
      }
    }

    &:hover{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $break-small) {
  .propositions{
    .carousel__wrapper{
      .tile{
        &__rating{
          flex-wrap: wrap;
        }
      }
    }
  }
}