.search__wrapper {
  background-color: $c-light-grey;
  margin-bottom: 24px;

  .search {
    padding: 44px 5px;

    &__heading {
      font-weight: 600;
      color: $c-dark-grey;
      line-height: 32px;
    }

    &__heading-small {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    .searchFields__wrapper {
      width: 100%;
      margin: 24px 0 16px;
      background-color: $c-yellow;
      padding: 4px;
      border-radius: 4px;
      display: grid;
      grid-template-columns: auto max-content max-content max-content;
      grid-template-rows: 1fr;
      column-gap: 4px;
      width: 100%;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

      .searchField {
        background-color: $c-white;
        border-radius: 2px;
        height: 52px;
        position: relative;

        &__iconWrapper {
          position: absolute;
          height: 100%;
          width: 50px;
          justify-content: center;
          text-align: center;
          @include myFlex;
        }

        &-destination {
          input {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            padding: 0 35px 0 50px;
            background-color: transparent;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;

            &::placeholder {
              color: $c-dark-grey;
            }

            &:hover,
            &:focus-visible {
              box-shadow: 0 0 1px black;
            }

            &:focus-visible {
              &::placeholder {
                color: $c-grey;
              }
            }
          }

          .destinationModal {
            position: absolute;
            background-color: $c-white;
            width: 430px;
            top: 100%;
            margin-top: 12px;
            z-index: 1000;
            box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

            &-title {
              padding: 12px 12px 4px 16px;
              font-size: 14px;
              line-height: 20px;
              color: $c-dark-grey;
              font-weight: 600;
            }

            &-element {
              padding: 8px 12px;
              align-items: center;
              @include myFlex;

              .destinationModal-text {
                margin-left: 10px;

                &Title {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 700;
                  color: $c-dark-grey;
                }

                &Description {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 400;
                  color: $c-dove-gray;
                }
              }

              &:hover {
                cursor: pointer;
                background-color: $c-gallery;
              }
            }
          }
        }

        &-date {
          position: relative;

          .searchField__iconWrapper {
            align-items: center;
            @include myFlex;
          }

          &-handler {
            height: 100%;
            align-items: center;
            background-color: transparent;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $c-dark-grey;
            @include myFlex;

            &:hover {
              cursor: pointer;
            }
          }

          &-from {
            padding: 0 16px 0 50px;
            position: relative;
            z-index: 1;

            &::after {
              content: "";
              position: absolute;
              height: 1px;
              background: $c-grey;
              width: 10px;
              left: 100%;
              margin-left: -5px;
              top: 50%;
              z-index: 2;
            }
          }

          &-to {
            padding: 0 24px 0 16px;
          }

          .dateModal {
            z-index: 1000;
            position: absolute;
            top: 100%;
            margin-top: 12px;
            padding: 6px 16px 16px;
            background-color: $c-white;
            box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

            .rdrMonthAndYearPickers,
            .rdrDefinedRangesWrapper,
            .rdrDateDisplayWrappe,
            .rdrDateDisplay {
              display: none;
            }

            .rdrDayPassive {
              visibility: hidden;
            }

            .rdrDayDisabled {
              background-color: transparent;

              .rdrDayNumber {
                background-color: transparent;
              }

              &:hover {
                cursor: default;
                background-color: $c-light-grey;
              }
            }

            .rdrMonthAndYearWrapper {
              position: absolute;
              width: 508px;
              transform: translateY(-8px);
              height: auto;
            }

            .rdrMonth {
              width: 246px;
              padding: 0;

              .rdrMonthName {
                color: $c-black;
                text-align: center;
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                padding: 0;
              }

              .rdrWeekDays {
                width: 100%;
              }

              .rdrDays {
                width: 100%;
                .rdrDay {
                  width: calc(100% / 7);
                  height: 36px;
                  font-size: 14px;
                  line-height: 36px;
                }

                .rdrDay {
                  .rdrStartEdge,
                  .rdrInRange,
                  .rdrEndEdge {
                    background-color: transparent;
                  }

                  .rdrInRange + .rdrDayNumber {
                    background-color: $c-light-grey;
                  }

                  .rdrEndEdge + .rdrDayNumber,
                  .rdrStartEdge + .rdrDayNumber {
                    background-color: $c-blue-light;
                    span {
                      color: $c-white;
                    }
                  }

                  .rdrDayNumber {
                    display: inline-block;
                    height: 100%;
                    span {
                      color: $c-dark-grey;
                      font-weight: 400;
                    }
                  }

                  &.rdrDayDisabled {
                    .rdrDayNumber {
                      background-color: transparent;
                      span {
                        color: $c-grey;
                      }
                    }
                  }

                  &.rdrDayToday {
                    .rdrDayNumber {
                      span {
                        font-weight: 400;
                        color: $c-blue-light;
                      }
                    }
                  }
                }
                .rdrDayToday {
                  .rdrDayNumber {
                    span {
                      &::after {
                        display: none;
                      }
                    }
                  }
                }
              }

              &:nth-child(2) {
                margin-left: 16px;
              }
            }
          }

          .dateModal.disabledCalendar {
            .rdrInRange,
            .rdrDayNumber {
              background-color: transparent !important;
            }
          }

          .calendarFooter {
            border-top: 1px solid $c-grey;
            text-align: center;
            margin-top: 8px;
            padding-top: 8px;
            color: $c-dark-grey;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
          }

          &:hover,
          &:focus-visible {
            box-shadow: 0 0 1px black;
          }
        }

        &-participants {
          &-textWrapper {
            height: 100%;
            padding: 0 40px 0 46px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $c-dark-grey;
            align-items: center;
            position: relative;
            @include myFlex;

            .dot {
              display: inline-block;
              width: 2px;
              height: 2px;
              background-color: $c-dark-grey;
              border-radius: 50%;
              margin: 0 8px;
            }

            .imgWrapper {
              position: absolute;
              right: 0;
              width: 40px;
              text-align: center;
            }
          }

          .searchField__iconWrapper {
            align-items: center;
            @include myFlex;
          }

          &:hover,
          & > *:hover {
            cursor: pointer;
          }

          &:hover,
          &:focus-visible {
            box-shadow: 0 0 1px black;
          }

          .participantsnModal {
            background-color: $c-white;
            position: absolute;
            top: 100%;
            right: 0;
            margin-top: 12px;
            z-index: 1000;
            box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
            padding: 24px 24px 8px;

            .counter {
              margin-bottom: 16px;
              justify-content: space-between;
              align-items: center;
              @include myFlex;

              &-text {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                display: block;
              }

              &-text-description {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: $c-dove-gray;
                white-space: nowrap;
              }

              .counter-buttonsWrapper {
                align-items: center;
                margin-left: 40px;
                @include myFlex;

                .counterbutton {
                  width: 40px;
                  height: 40px;
                  border: 1px solid $c-blue-light;
                  color: $c-blue-light;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  justify-content: center;
                  align-items: center;
                  border-radius: 2px;
                  @include myFlex;

                  &.disabled {
                    border: 1px solid $c-grey;
                    color: $c-grey;

                    &:hover {
                      cursor: not-allowed;
                    }
                  }

                  &:hover {
                    cursor: pointer;
                    background: $c-polar;
                  }
                }

                span {
                  display: inline-block;
                  width: 36px;
                  margin: 0 4px;
                  text-align: center;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                }
              }
            }

            &:hover {
              cursor: default;
            }
          }
        }
      }

      .button {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        border: 0;
        border-radius: 2px;
        color: #fff;
        height: 100%;
        background: $c-blue-light;
        text-transform: capitalize;
        padding: 0 32px;
      }
    }

    .checkbox-wrapper {
      display: flex;
      align-items: center;
      display: inline-block;

      .checkbox__input {
        opacity: 0;
        position: absolute;

        &:checked + .checkboxStyle-box {
          background-color: $c-blue-light;
          &::after {
            left: 50%;
            top: 50%;
            display: block;
            width: 9px;
            height: 4px;
            border-bottom: 2px solid $c-white;
            border-left: 2px solid $c-white;
            transform-origin: center;
            transform: rotate(-45deg) translateY(-100%);
          }
        }
      }

      .checkboxStyle-box {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-color: inherit;
        background-color: $c-white;
        border: 1px solid $c-grey;
        &::after {
          content: "";
          display: block;
          position: absolute;
        }
      }

      .checkboxText-style {
        line-height: 20px;
        padding-left: 8px;
        font-size: 14px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $break-mid) {
  .search__wrapper {
    .search {
      .searchFields__wrapper {
        flex-direction: column;
        @include myFlex;

        .searchField {
          &:not(:first-child) {
            border-left: none;
            border-top: 4px solid $c-yellow;
          }
        }
      }
    }
  }
}
