.subscription{
  margin: 16px auto 24px;
  padding: 16px;
  border: 1px solid $c-grey;
  @include myFlex;

  &__icon{
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background-color: $c-blue;
    margin-right: 16px;
  }

  &__text{
    width: 100%;
    color: $c-dark-grey;

    &-heading{
      justify-content: space-between;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      @include myFlex;

      &-close{
        cursor: pointer;
      }
    }

    &-desc{
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }

    &-email{
      font-size: 14px;
      line-height: 20px;
      margin-top: 16px;
      @include myFlex;

      &-input{
        margin-right: 8px;
        width: 100%;
        padding: 7px;
        border: 1px solid $c-grey;
        border-radius: 2px;

        &:hover{
          cursor: pointer;
          border: 1px solid $c-grey;
        }

        &:focus{
          border: 1px solid $c-blue-light;
          box-shadow: 0px 0px 10px 0px $c-blue-light;
        }
      }

      &-button{
        border: 1px solid $c-blue-light;
        background-color: $c-white;
        color: $c-blue-light;
        white-space: nowrap;
        padding: 8px 16px;
        font-weight: 500;
        border-radius: 2px;

        &:hover{
          cursor: pointer;
          background-color: $c-polar;
        }
      }
    }
  }
}