.carousel__wrapper {
  margin-bottom: 32px;
  position: relative;

  .carousel__desc {
    margin-top: 2px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $c-dove-gray;
    padding-left: 8px;
  }

  .tiles__wrapper {
    margin-top: 16px;
    position: relative;

    .tile {
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      @include myFlex;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }

      &__img {
        margin-bottom: 16px;
        object-fit: cover;
      }

      &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        white-space: normal;
      }

      &__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $c-dove-gray;
        white-space: normal;
      }

      &__number {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $c-dove-gray;
      }

      &__links {
        font-size: 14px;
        line-height: 20px;
        flex-wrap: wrap;
        color: $c-blue-light;
        @include myFlex;

        &-link {
          text-decoration: underline;
          font-weight: normal;

          &:not(:last-of-type)::after {
            content: ",";
            margin-right: 2px;
          }

          &:hover {
            color: $c-yellow;
            text-decoration: none;
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .carousel__customArrows {
    &-button {
      position: absolute;
      top: 50%;
      z-index: 100;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-color: $c-white;
      box-shadow: 0px 0px 9px -3px #000000;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      @include myFlex;
    }

    &-left {
      left: 0;
      transform: rotate(-90deg) translate(0, -25%);
    }

    &-right {
      right: 0;
      transform: rotate(90deg) translate(0, -25%);
    }
  }
}

.carousel__wrapper-types {
  .carousel__title {
    line-height: 32px;
    font-size: 24px;
  }

  .tile {
    &__img {
      height: 180px;
    }
  }
}
